version: '3.4'
services:

  localstack:
    image: localstack/localstack:3.0.2
    ports:
      - '4566:4566' # LocalStack Gateway
      - '4510-4559:4510-4559' # external services port range
    env_file:
      - 'compose/aws.env'
    environment:
      DEBUG: ${DEBUG:-1}
      LS_LOG: WARN # Localstack DEBUG Level
      SERVICES: s3,sqs,sns,firehose
      LOCALSTACK_HOST: 127.0.0.1
    volumes:
      - '${TMPDIR:-/tmp}/localstack:/var/lib/localstack'
      - ./compose/start-localstack.sh:/etc/localstack/init/ready.d/start-localstack.sh
    healthcheck:
      test: ['CMD', 'curl', 'localhost:4566']
      interval: 5s
      start_period: 5s
      retries: 3
    networks:
      - cdp-tenant

  redis:
    image: redis:7.2.3-alpine3.18
    ports:
      - '6379:6379'
    restart: always
    networks:
      - cdp-tenant

  mongodb:
    image: mongo:6.0.13
    networks:
      - cdp-tenant
    ports:
      - '27017:27017'
    volumes:
      - mongodb-data:/data
    restart: always

################################################################################

  aspire-dashboard:
    image: mcr.microsoft.com/dotnet/nightly/aspire-dashboard:8.2
    ports:
      - '18888:18888'
      - '18889:18889'
    restart: always
    environment:
      DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS: true
    networks:
      cdp-tenant:
        aliases:
          - aspire-dashboard.localtest.me

  cdp-defra-id-stub:
    build: https://github.com/DEFRA/cdp-defra-id-stub.git
    ports:
      - '7200:7200'
    links:
      - 'redis:redis'
    depends_on:
      localstack:
        condition: service_healthy
      redis:
        condition: service_started
    healthcheck:
      test: ['CMD', 'curl', 'localhost:7200']
      interval: 5s
      start_period: 5s
      retries: 3

    environment:
      PORT: 7200
      NODE_ENV: development
      REDIS_HOST: redis
      # USE_SINGLE_INSTANCE_CACHE: true
      APP_BASE_URL: http://cdp-defra-id-stub.localtest.me:7200
      REDIS_ENABLED: true
    networks:
      cdp-tenant:
        aliases:
          - cdp-defra-id-stub.localtest.me

################################################################################

volumes:
  mongodb-data:

networks:
  cdp-tenant:
    driver: bridge
